<div class="parent" *ngIf="pokedeet" [ngStyle]="{'background-image':getColorPallate(pokedeet.type)}">
    
    <h1 class="header">{{pokedeet.name | uppercase}} Details:</h1>
    <div class="container">
        <p>Name: {{pokedeet.name}}</p>
        <p>Id: {{pokedeet.id}}</p>
        <p>Weight: {{pokedeet.weight}}</p>
        <p>Height: {{pokedeet.height}}</p>
        <p>Type:</p>
        <div class="type-container"><span >{{pokedeet.type[0]}}</span><span *ngIf="pokedeet.type.length > 1">, </span> <span *ngIf="pokedeet.type.length > 1" >{{pokedeet.type[1]}}</span></div>
        <app-list-card [name]="pokedeet.name" [image]="pokedeet.image" [isDetail]="true"></app-list-card>
        <br>
        <br>
        <br>
        <app-move-carousel [moves]="pokedeet.move" [last]="pokedeet.move.length - 1"></app-move-carousel>

    </div>
    <button *ngIf="onDetailsPage" type="button" (click)="goBack()">Go Back</button>
    
</div>
