<div class="container">
    <h1>Pokemon-ish!</h1>
    <form >
        <label for="pokeType">Choose a type:</label>
        <select name="pokeType" id="pokeType" #type (change)="onTypeSelected(type.value)">
         <option default>Pick a type</option>
          <option value="bug">Bug</option>
          <option value="dark">Dark</option>
          <option value="dragon">Dragon</option>
          <option value="electric">Electric</option>
          <option value="fairy">Fairy</option>
          <option value="fire">Fire</option>
          <option value="flying">Flying</option>
          <option value="grass">Grass</option>
          <option value="ghost">Ghost</option>
          <option value="ground">Ground</option>
          <option value="ice">Ice</option>
          <option value="normal">Normal</option>
          <option value="poison">Poison</option>
          <option value="psychic">Psychic</option>
          <option value="rock">Rock</option>
          <option value="steel">Steel</option>
          <option value="water">Water</option>
        </select>
        <!-- <br><br> -->
        <label for="pokeType" class="second-box">Choose a pokemon:</label>
        <select name="pokeType" id="pokeType" #name (change)="onNameSelected(name.value)">
         <option default>Pick a type</option>
        <option *ngFor="let name of types" value="{{name}}">{{name}}</option>
        </select>
        <br><br>
    </form>
    
    <!-- second drop down -->
    <form >
        
        
    </form>
    <app-pokemon-detail *ngIf="readyToLoad" [pokemon]="{pokeName}" [onDetailsPage]="false" (change)="getChanged()"></app-pokemon-detail>
    
    
    
    
</div>