
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.container{
    display: inline-block;
    width: 100%;
    height: 100%;

}

.pokeList{
    list-style: none;  
}

button{
    text-align: center;
    font-weight: bold;
    width:200px;
    margin:20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    font-family: 'Press Start 2p';
    font-size: 10pt;
    height: 150px;
    align-items: center;
    justify-content: center;
}

img{
    height: 100px;
    width: 100px;
}

h1{
    position: relative;
    text-align:center;
    font-family: 'Press Start 2p';
}

button:active {
	box-shadow: none;
	position: relative;
	top: .6em;
    background-color: darkgray;
}

.home{
    // scroll-behavior: auto;
    overflow-y:auto
}
body{
    overflow-y:auto
}

@media (max-width: 1115px) and (min-width:847px){
    button{
        width: calc(33% - 20px);
    }
}

@media (max-width:847px) and (min-width:560px){
    button{
        width: calc(50% - 20px);
    }
}

@media (max-width:560px){
    button{
        width: calc(100% - 20px);
    }
}