<body class="home">
    <div class = 'body'>
        <h1>Pokemon-ish!</h1>
        <div class="container">
            <button *ngFor="let pokelist of pokemonPage?.pokeList" class="item" routerLink="/details/{{pokelist.name}}" >{{pokelist.name}}<br> <img src = {{pokelist.image}} alt="sprite"></button>
        </div>
            
        <app-pagination [currentPage]="paginationData.currentPage" (prevClicked)="loadPrev()" (nextClicked)="loadNext()"></app-pagination>
        <router-outlet></router-outlet>
    </div>
    
</body>

