<body class="home">
    <div class = 'body'>
        <h1>Pokemon-ish!</h1>
        <!-- <div class="something">
            <div class="container" *ngFor="let pokelist of pokeList"><button class="item" routerLink="/details/{{pokelist.name}}" >{{pokelist.name}} <img src = {{pokelist.image}} alt="sprite"></button></div>
        </div> -->
    
        <!-- <ul class="pokeList">
            <div class="wrapper">
                <li class="container" *ngFor="let pokelist of pokeList"><button class="item" routerLink="/details/{{pokelist.name}}" >{{pokelist.name}} <img src = {{pokelist.image}} alt="sprite"></button></li>
            </div>
            
        </ul> -->

       
        <div class="container">
            <button *ngFor="let pokelist of pokeList" class="item" routerLink="/details/{{pokelist.name}}" >{{pokelist.name}} <img src = {{pokelist.image}} alt="sprite"></button>
        </div>
            
      
        <router-outlet></router-outlet>
    </div>
</body>

