/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    background-image: url("pokeGrass.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-size: 100% 100%;
    width: 100%;
    margin: 0;
    
    object-fit: fill;
}
html{
    margin:0;
}